/*
	Super Easy Cross Browser CSS3 Gradients
	http://www.colorzilla.com/gradient-editor/t
*/

/*---------------------------------
	BUTTONS
-----------------------------------*/
button,
a.btn,
a.btn:visited,
a.button,
a.button:visited,
input[type="submit"],
input[type="reset"],
input[type="button"]{
position:relative;
top:0;
left:0;
vertical-align: middle;
margin:0;
padding:10px 15px;
line-height:100%;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
cursor: pointer;
width:auto;
overflow:visible;
font-weight:normal;
font-size:14px; /*Pixels for consistancy*/
text-shadow:0 1px 0 #fff;
color:#666;
text-decoration:none;
vertical-align: middle;
box-sizing: border-box;
display:inline-block;
*display:inline;/*IE ONLY*/
zoom:1;
border:1px solid #ccc;
background: rgb(252,252,252); /* Old browsers */
background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
}

button:active,
a.btn:active,
a.btn:visited:active,
a.button:active,
a.button:visited:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active{box-shadow:inset 0px 3px 5px rgba(0,0,0,0.2),inset 0px -10px 20px rgba(0,0,0,0.07);}
button[disabled],.disabled:active{box-shadow:none;}

button,
input[type="submit"],
input[type="reset"],
input[type="button"]{*padding:7px 15px;}/*IE 7 ONLY*/
	
	a.btn,a.button{}/*overrides*/
	button.small, a.btn.small, a.button.small{font-size:0.8em;padding:5px 10px;}
	button.medium, a.btn.medium, a.button.medium{}/*default*/
	button.large, a.btn.large, a.button.large{font-size:1.3em;padding:10px 20px;}
	button.disabled, a.btn.disabled, a.button.disabled{color:#ccc;cursor:default;background:#efefef;}
	button.disabled:hover, a.btn.disabled:hover, a.button.disabled:hover{border:1px solid #ccc;background:#efefef;}
	
	button:hover,
	a.btn:hover,
	a.button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover{
	border:1px solid #bbb;
	background: rgb(252,252,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
	}
	
	button img,
	a.btn img,
	a.button img,
	input[type="submit"] img,
	input[type="reset"] img,
	input[type="button"] img{
	display:inline;
	margin:0;
	vertical-align: middle;
	margin:-10px 10px -5px -5px;
	padding:0;
	}
	
	.small img{margin:-3px 5px -3px -3px;}
	.medium img{margin:-10px 10px -5px -5px;}
	.large img{margin:-10px 10px -10px -10px;}
	.icon-only{padding:7px 10px;}
	.icon-only img{margin:0;display:block;padding:0;}
	.icon-only .icon{margin:-5px -6px -8px -6px;}
	
	/* icons */
	button .icon,
	a.btn .icon,
	a.button .icon,
	input[type="submit"] .icon,
	input[type="reset"] .icon,
	input[type="button"] .icon{
	vertical-align: middle;
	margin:-5px 3px -7px -2px;
	*margin:-5px 3px -10px 0px;/*IE 7 ONLY*/
	}
	
	button .icon.medium,
	a.btn .icon.medium,
	a.button .icon.medium,
	input[type="submit"] .icon.medium,
	input[type="reset"] .icon.medium,
	input[type="button"] .icon.medium{
	margin-left:-5px;
	*left:-5px;
	*top:0px;
	}
	
	button .icon.large,
	a.btn .icon.large,
	a.button .icon.large,
	input[type="submit"] .icon.large,
	input[type="reset"] .icon.large,
	input[type="button"] .icon.large{
	margin-left:-10px;
	*left:-10px;
	*top:0px;
	}
	
/*---------------------------------
	BUTTON BAR
-----------------------------------*/
ul.button-bar{
display:inline-block;
*display:inline;
margin:0;
padding:0;
font-size:0;
position:relative;
top:0;
left:0;
zoom:1;
border:0;
background:0;
}

	ul.button-bar li{
	display:inline-block;
	*display:inline;
	position:relative;
	top:0;
	left:0;
	zoom:1;
	margin:0 -1px 0 0;
	padding:0;
	line-height:100%;
	font-size:0px;
	border:1px solid #ccc;
	background: rgb(252,252,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
	}
	
	ul.button-bar li a{
	margin:0;
	display:inline-block;
	*display:inline;
	padding:7px 10px;
	position:relative;
	top:0;
	left:0;
	zoom:1;
	font-weight:normal;
	font-size:14px; /*Pixels for consistancy*/
	text-shadow:0 1px 0 #fff;
	color:#666;
	text-decoration:none;
	vertical-align: middle;
	line-height:100%;
	border-left:1px solid #fff;
	}
	
	ul.button-bar li.first,
	ul.button-bar li.first a{
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-background-clip:content-box;
	-webkit-background-clip: border;
	background-clip: content-box;
	}
	
	ul.button-bar li.last,
	ul.button-bar li.last a{
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-background-clip: 
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-background-clip:content-box;
	-webkit-background-clip: border;
	background-clip: content-box;
	}
	
	ul.button-bar li a .icon{
	position:relative;
	top:-1px;
	left:0;
	margin:-5px 0;
	}
	
	ul.button-bar li a:hover{
	background: rgb(252,252,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
	}
	
	ul.button-bar li a:active{box-shadow:inset 0px 3px 5px rgba(0,0,0,0.2),inset 0px -10px 20px rgba(0,0,0,0.07);border-left:1px solid #ccc;}
	
/*---------------------------------
	STYLES
-----------------------------------*/
.pill{border-radius:200em;}
.pop{box-shadow:0px 1px 5px rgba(0,0,0,0.2);}
.inset{box-shadow:inset 0px 1px 3px rgba(0,0,0,0.3);}
.square{-moz-border-radius:0;-webkit-border-radius:0;-o-border-radius:0;border-radius:0;}

/*---------------------------------
	GREEN
-----------------------------------*/
button.green,
a.btn.green,
a.button.green,
input[type=submit].green,
input[type=reset].green,
input[type=button].green{
text-shadow: none;
  color: #61344C;
    letter-spacing: 1px;
border:1px solid #61344C;
background: none;
}
button.large.green {
    font-size: 15px;
        font-weight: bold;
            padding-bottom: 13px;
    padding-right: 34px;
    padding-top: 13px;
}

button.green span.st {
position: absolute; float: right; right: 11px; font-weight: bold;
font-family: 'Trebuchet MS',arial; color: rgb(0, 158, 98); text-shadow: 1px 0px 0px rgb(0, 128, 79); font-size: 32px; top: 13px;
}

button.save,
a.btn.save,
a.button.save,
input[type=submit].save,
input[type=reset].save,
input[type=button].save,
button.finish,
a.btn.finish,
a.button.finish,
input[type=submit].finish,
input[type=reset].finish,
input[type=button].finish,
button.next,
a.btn.next,
a.button.next,
input[type=submit].next,
input[type=reset].next,
input[type=button].next{
    transition: none; -moz-transition: none;-webkit-transition: none;
    background: url("../img/mnu.png") -135px -447px no-repeat transparent;
    border: none;
    height: 49px;
    text-indent: -999em;
    width: 124px;
}

button.finish,
a.btn.finish,
a.button.finish,
input[type=submit].finish,
input[type=reset].finish,
input[type=button].finish {
    background-position: -135px -447px;
}

button.save,
a.btn.save,
a.button.save,
input[type=submit].save,
input[type=reset].save,
input[type=button].save {
    background-position: -223px -175px;
    width: 112px;
}

	button.save:hover,
	a.btn.save:hover,
	a.button.save:hover,
	button.finish:hover,
	a.btn.finish:hover,
	a.button.finish:hover,
	button.next:hover,
	a.btn.next:hover,
	a.button.next:hover,
	button.green:hover,
	a.btn.green:hover,
	a.button.green:hover{
    text-indent: 0;
    text-shadow:0 1px 0 #aaa;
	border:1px solid #669E00;
	background: rgb(156, 253, 213); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(156, 253, 213,1) 0%, rgba(156, 253, 214,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(156, 253, 213,1)), color-stop(100%,rgba(156, 253, 214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(156, 253, 213,1) 0%,rgba(156, 253, 214,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(156, 253, 213,1) 0%,rgba(156, 253, 214,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(156, 253, 213,1) 0%,rgba(156, 253, 214,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(156, 253, 213,1) 0%,rgba(156, 253, 214,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6e278', endColorstr='#a7d32c',GradientType=0 ); /* IE6-9 */
	}
    
    
/*---------------------------------
	ORANGE
-----------------------------------*/
button.orange,
a.btn.orange,
a.button.orange,
input[type=submit].orange,
input[type=reset].orange,
input[type=button].orange{
text-shadow:0 -1px 0 #ccc;
color:#616161;
border:1px solid #b2ab98;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,240,202,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(254,240,202,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,240,202,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,240,202,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,240,202,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(254,240,202,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#FEF0CA',GradientType=0 ); /* IE6-9 */
}

	button.orange:hover,
	a.btn.orange:hover,
	a.button.orange:hover{
	text-shadow:0 1px 0 #ccc;
	border:1px solid #b2ab98;
	background: rgb(252,252,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bf4a', endColorstr='#f9b509',GradientType=0 ); /* IE6-9 */
	}
	
    button.orange span {
        color: #af913f;
    }
    button.orange:hover span {
        color: #af913f;
    }


ul.helpers li button.small {
   background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #2D2E2F;
    font-size: 12px;
    height: 27px;
    left: 63px;
    margin-right: 0;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 0;
    position: absolute;
    top: 3px;
    width: 27px;
    cursor: text;
}

ul.helpers li button.small span {
    color: #AF913F;
}

ul.helpers li button.small.focus, ul.helpers li button.small:focus {
    box-shadow: none;
}

ul.pagination .button,
ul.pagination .button:visited,
ul.pagination .button_edit,
ul.pagination .button_edit:visited,
ul.pagination .submit,
ul.pagination .submit:visited,
ul.pagination .promptbutton,
ul.pagination .confirmbutton {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #666666;
    font-size: 11px;
    margin-right: 2px;
    padding: 4px 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
    width: auto;
    display: inline-block;
    text-align: center;
}

ul.pagination {
    float: right;
    height: auto;
    padding: 0;
    width: auto;
    margin-bottom: 3px;
}

    ul.pagination li {
        margin-right: 0px;
        display: inline-block;
        padding: 5px 0 5px 0px;
        list-style: none outside none;
    }
    
    ul.pagination li.bckAll {
        color: #333333;
        cursor: default;
        font-size: xx-small;
    }

        ul.pagination li a.button {
            margin: 2px 0;
            background: none repeat scroll 0 0 #FFFFFF !important;
            color: #333333;
            font-size: xx-small;
            cursor:default;
            height: auto !important;
            text-indent: 0 !important;
            width: 22px;
        }
        
        ul.pagination li a.button:hover{
            
            background: url("../img/bts.jpg") repeat-x scroll -136px -21px transparent !important;
            border: 1px solid #2f8093;
            color: #FFFFFF;
            cursor: pointer;
            text-decoration: none;
        }

        ul.pagination li a.current,
        ul.pagination li a.current:link,
        ul.pagination li a.current:visited,
        ul.pagination li a.current:hover,
        ul.pagination li a.current:active {
            background: none repeat scroll 0 0 #FFFFFF !important;
            border: medium none;
            box-shadow: none;
            color: #333333;
            cursor: default;
            font-weight: 900;
        }

        ul.pagination li a.button.disabled,
        ul.pagination li a.button.disabled:hover {
            background: none repeat scroll 0 0 #EEEEEE !important;
            border: 1px solid #DDDDDD;
            color: #CCCCCC;
            cursor: default;
        }