/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0;
color:#000;
font:normal 0.9em/150% verdana, "Trebuchet MS", arial, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

.wrap{
    width:978px;
    margin:0px auto;
    padding:0;
}

label.error[generated="true"]{
    display: none !important;
}
header {}
    header h1 a, header h2 a {
      display: block;
    float: left;
    height: 87px;
    margin-left: 0;
    margin-top: 16px;
    text-indent: -999em;
    width: 232px;
    }
    header h2 a {
        background-position: -249px -520px;
        width: 119px;
        margin-top: 26px;
        margin-left: 48px;
    }

    header #infoTopo {
        color: #666;
        display: block;
        float: right;
      /*  font-size: 13px;*/
      font-size: 0.9em;
        height: 66px;
        line-height: 19px;
        margin-left: 82px;
        margin-right: 3px;
        padding-top: 20px;
        position: relative;
        text-align: right;
        width: 164px;
    }
    header div#infoTopo a {
        color: #555;
        font-weight: bold;
    }

#main {
    /*background-color: #FAFAFA;*/
    background: none;
    border: none;

    /*overflow: hidden;*/
    padding: 0;
    margin-bottom: 0px;
}

    #main nav, #main #content {
        display: block;
      /*  margin-bottom: -1950px;
        padding-bottom: 1950px;*/
    }

    #main nav
    {
        /*background-color: #CCE8E8;*/
        /*border-right: 1px solid #86A9A9;*/
        width: 115px;
        float: left;
        background-image: url("/portal-assets/images/pattern.jpg");
        left: 0;
        position: absolute;
        top: 50px;
        z-index: 100;
    }
    
    #main #content {
        border: none;
        background: none;
        float: right;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0px;
        position: relative;
        width: 100%;
        min-height: 300px;
    }

    #content h1 {
        color: #61344C;
        font-size: 20px;
        margin-bottom: 16px;
        text-transform: none;
        letter-spacing: 1px;
        font-weight: normal;
    }
        #content h1 b {
            text-decoration: underline;
        }
    
    #content h3 {
        color: #898383;
        font-family: verdana;
        font-size: 16px;
        font-weight: bold;
        line-height: 59px;
        padding: 0;
        margin: 0;
    }
    
    #content h3 span {
        color: #C1C1C1;
        margin-right: 8px;
        font-size: 50px;
        font-weight: bold;
    }
    
    #content #back {
        background: url("../img/mnu.png") no-repeat scroll -32px -451px transparent;
        display: block;
        height: 37px;
        left: 0;
        position: absolute;
        text-indent: -999em;
        top: 27px;
        width: 40px;
    }
    #content #back.fixed { position: fixed; top: -20px; }
    #content .divisor {
        background: url("../img/mnu.png") no-repeat scroll 0 -377px #FAFAFA;
        border: medium none;
        display: block;
        height: 69px;
        width: 668px;
        z-index: 5000;
        margin: 0 auto;
    }
    /*
        top: 112px;
        left: 58px;
        position: absolute;
    */
    
    #content form.normal {
        margin-bottom: 3px;
    }
    
    #content form.normal hr.clear {
        border-color: #CCCCCC;
        border-style: dotted none none;
        border-width: 1px 0 0;
        clear: both;
        height: 5px;
        margin: 5px 0;
        min-height: 0;
    }
    
    #content form.normal hr.clear {
        margin: 0px 0;
    }
    
    #content form.normal .chzn-container {
        display: inline-table
    }
        #content form.normal div.clear {
            height: 5px;
        }
        #content form.normal fieldset {
            background-color: transparent;
            border: none;
        }
        #content form.normal label {
            color: #616161;
            width: 273px;
            text-align: right;
            font-size: 0.9em;
            padding-right: 10px;
        }
        /*
        #content form.normal label.error {
            color: red;
            display: table;
            margin-left: 278px;
            text-align: left;
            width: 439px;
        }*/
        
        #content form.normal label.error {
            color: red;
            display: table;
            margin-left: 278px;
            text-align: left;
            width: auto;
            float:right
        }
        
        #content form.normal label.noWidth {
            width: auto;
            margin-left: 25px;
        }
        
        #content form.normal label.disabled {
            color: #ccc;
        }
        
        
        #content form.normal label.inline {
            color: #2e2e2e;
        }
        
        #frmRegister fieldset span,
        #frmLost fieldset span {
            color: #666666
        }
    
        form.normal button.next,
        form.normal button.save,
        form.normal button.finish {
            float: right;
        }
        
        form.normalTable {
            text-align: center;
        }
        form.normalTable label {
            display: block;
            text-align: center;
        }
        form.normalTable button.next,
        form.normalTable button.save,
        form.normalTable button.finish {
            margin: 0 auto;
            margin-bottom: 25px;
        }
    
#footer{
text-align:center;
padding:0px;
margin:0 auto;
/*background:#efefef;
;border-top:1px solid #ccc;*/
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
}


#footer img{
  /*  height: 100px;*/
  
    width: 90px;
    opacity:.50; filter:alpha(opacity=50); -ms-filter:'alpha(opacity=50)'; 
    /*Transition*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    /*Reflection*/
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}

#footer img:hover {
	width: 120px;
    background-color: #eee;
   opacity:.99; filter:alpha(opacity=99); -ms-filter:'alpha(opacity=99)'; 
    margin-bottom: 5px;
    
      /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}




	#link-top{
	position: absolute;
	top:10px;
	right:10px;
	*right:25px;/*IE 7 ONLY*/
	left:auto;
	color:#666;
	text-decoration:none;
	display: inline-block;
	padding:5px 10px;
	background:#e5e5e5;
	line-height:100%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
    
    #content table {
        width: auto;
        margin: 0 auto 8px;
    }
      #content table a {
          color: #6A818D;
      }
      /*
      #content #tbCoops {
          margin-top: 20px;
      }*/

.defaultCol {
    width: 70px;
}
.firstCol {
    width: 190px;
}
.lastCol {
    width: 270px;
}
.pag_privilege_edit .defaultCol {
    width: 70px;
}
.pag_privilege_edit .firstCol {
    width: 190px;
}
.pag_privilege_edit .lastCol {
    width: 210px;
}

.pag_role_index .lastCol {
    width: 110px;
}

a.link {
    color: #6A818D;
}

#content .btLogo {
    background-image: url("../img/mnu.png");
    background-position: -410px -524px;
    background-repeat: no-repeat;
    bottom: 0px;
    display: block;
    text-indent: -999em;
}

#content #logoDiag.btLogo{
    background-position: -410px -524px;
    height: 111px;
    margin: 23px auto;
    width: 254px;
    display: block;
}
#content #logoPremio.btLogo{
    background-position: -540px -232px;
    height: 125px;
    margin: 23px auto;
    width: 120px;
    display: block;
}

.frmLogin
{
     margin-left: 40px;
}

.frmLogin input {
    width: 135px;
}

.frmLogin label {
    color: #557374;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 14px;
}

.frmLogin button {
    margin-top: 15px;
    margin-bottom: 1px;
}
.rpp {
    display: inline-block;
    float: left;
    height: auto;
    margin: 4px 0 0;
}
.rpp li {
    list-style: none outside none;
    display: inline;
}
.rpp li.rppCount {
    border-right: 1px solid #CCCCCC;
    margin-right: 15px;
    padding-right: 15px;
}
.rpp li.rppSort {
    font-size: small; color: #777777;
}
.rpp li.rppSort select {
    border: 1px solid #CCCCCC;
    color: #666666;
    font-size: 0.9em;
    margin-top: -3px;
    padding-right: 4px;
    vertical-align: middle;
}

.rpp a, .rpp a:link {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    border-top-right-radius: 5px;
    color: #888888;
    font-size: 0.7em;
    margin-right: 5px;
    padding: 2px 1px;
    transition: all 0.4s ease-in-out 0s;
}
.rpp a.current, .rpp a:hover, .rpp a:active {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #CCCCCC;
    color: #222222;
    text-decoration: none;
}
.rpp a:nth-child(3) {
    margin-right: 0;
}
#wrapper nav {
    background-image: url("/portal-assets/images/pattern.jpg");
    float: left;
    left: 0;
    position: absolute;
    top: 50px;
    width: 190px;
    z-index: 100;
}